.section_flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pet_item {
    min-width: 250px;
    height: 300px;
    background-color: transparent;
    border: 1px solid #ffd400;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    -webkit-box-shadow: 9px 14px 30px -19px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 9px 14px 30px -19px rgba(0, 0, 0, 0.24);
    box-shadow: 9px 14px 30px -19px rgba(0, 0, 0, 0.24);
}

.pet_item img {
    position: relative;
    top: -30px;
}

.pet_item span {
    font-weight: bold;
    color: #16479d;
}

.pet_item a {
    text-decoration: none;
    color: #16479d;
    margin-top: 30px;
    padding: 10px 30px;
    border: 1px solid #16479d;
}

.pet_item a:hover {
    background-color: #16479d;
    transition: 0.4s all;
    color: #fff;
    transform: scale(1.1);
}

.p_footer{
    margin-top: 20px;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .pet_item {
        min-width: 350px;
        height: 300px;
        background-color: transparent;
        border: 1px solid #ffd400;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
    }
}