.section_flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header_item{
    min-width: 100%;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #ffd400;
    margin: auto;
    justify-content: space-between !important;
}

.pet_item {
    min-width: 550px;
    min-height: 600px;
    background-color: transparent;
    border: 1px solid #ffd400;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    -webkit-box-shadow: 9px 14px 30px -19px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 9px 14px 30px -19px rgba(0, 0, 0, 0.24);
    box-shadow: 9px 14px 30px -19px rgba(0, 0, 0, 0.24);
}

.pet_item div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
}

.pet_item img{
    margin: 10px;
}

.pet_item a{
    display: inline-block;
    text-decoration: none;
    color: #16479d;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border: 1px solid #16479d;
}

.pet_item a:hover{
    background-color: #16479d;
    transition: 0.4s all;
    color: #fff;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .pet_item {
        min-width: 350px;
        min-height: 300px;
        background-color: transparent;
        border: 1px solid #ffd400;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
    }
}